<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Show
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body class="bg-dark text-white">
    <h1>Farm Details</h1>
    <div class=" container-fluid text-warning">

        <ul>
            <li> <b>NAME : <i><span class="text-success text-uppercase fs-5">
                            <%=farm.name %>
                        </span></b></i>
            </li>
            <li> <b>City : <i><span class="text-success text-uppercase fs-6">
                            <%=farm.city%>
                        </span> </i></b>
            </li>
            <li> <b>E-mail :<i><span class="text-success fs-6">

                            <%=farm.email %>
                        </span></i></b>
            </li>
        </ul>
        <h2>Products</h2>
        <ul>
            <%for(let product of farm.products){ %>
                <li><a href="/products/<%=product._id  %>">
                        <%=product.name %>
                    </a>
                </li>
                <% } %>
        </ul>
    </div>
    <a href="/farms/<%=farm._id%>/product/new" class="p-3 mt-2 bg-success text-white rounded-3">Add Product</a>
    <a href="/farms" class="p-3 mt-2 bg-success text-white rounded-3">Back</a>

    <form class="row g-3 m-1" action="/farms/<%=farm._id  %>?_method=DELETE" method="POST">
        <div class="col-md-6">
            <button class="btn btn-danger">Delete</button>
        </div>
    </form>

</body>

</html>